[submodule "flutter_ade-fery-angriawan"]
	path = flutter_ade-fery-angriawan
	url = https://github.com/ferya2/flutter_ade-fery-angriawan.git
[submodule "flutter_yudha"]
	path = flutter_yudha
	url = https://github.com/yudhaislamisulistya/flutter_yudha
[submodule "Flutter_Alvin-Izza-Rohman"]
	path = Flutter_Alvin-Izza-Rohman
	url = https://github.com/omeralvin/Flutter_Alvin-Izza-Rohman
[submodule "Flutter_Annisa-Nur-Fadhilah"]
	path = Flutter_Annisa-Nur-Fadhilah
	url = https://github.com/fdhannisa/Flutter_Annisa-Nur-Fadhilah
[submodule "flutter_Devi-Triani-Octavia"]
	path = flutter_Devi-Triani-Octavia
	url = https://github.com/DeviTrianiOctavia08/flutter_Devi-Triani-Octavia
[submodule "Flutter_Euis-Rohimattul-M"]
	path = Flutter_Euis-Rohimattul-M
	url = https://github.com/Euismutnh/Flutter_Euis-Rohimattul-M
[submodule "Flutter_Fikli-Al-Faiq-Gyonanda"]
	path = Flutter_Fikli-Al-Faiq-Gyonanda
	url = https://github.com/Gyonesis/Flutter_Fikli-Al-Faiq-Gyonanda
[submodule "flutter_hafidz-rizki-fahrizal"]
	path = flutter_hafidz-rizki-fahrizal
	url = https://github.com/michaelis2101/flutter_hafidz-rizki-fahrizal
[submodule "flutter_Hafif-Faadillah"]
	path = flutter_Hafif-Faadillah
	url = https://github.com/Hafiffdl/flutter_Hafif-Faadillah
[submodule "Flutter_Icha-Nur-Yuliarahma"]
	path = Flutter_Icha-Nur-Yuliarahma
	url = https://github.com/ichanyr/Flutter_Icha-Nur-Yuliarahma
[submodule "flutter_joesnadya-azzuhra-tahir"]
	path = flutter_joesnadya-azzuhra-tahir
	url = https://github.com/joesnadya/flutter_joesnadya-azzuhra-tahir
[submodule "flutter_made-bayu-maha-krisna-siaka"]
	path = flutter_made-bayu-maha-krisna-siaka
	url = https://github.com/bayusiaka/flutter_made-bayu-maha-krisna-siaka
[submodule "flutter_michael_julius_h"]
	path = flutter_michael_julius_h
	url = https://github.com/Juliushtb/flutter_michael_julius_h
[submodule "flutter_Amanda_Maulana"]
	path = flutter_Amanda_Maulana
	url = https://github.com/itsMallix/flutter_Amanda_Maulana
[submodule "flutter_Muhammad-Faza-Zulian"]
	path = flutter_Muhammad-Faza-Zulian
	url = https://github.com/Jarvishsoft/flutter_Muhammad-Faza-Zulian
[submodule "flutter_muhammad-taqi-syahid-abdullah"]
	path = flutter_muhammad-taqi-syahid-abdullah
	url = https://github.com/taqichan/flutter_muhammad-taqi-syahid-abdullah
[submodule "flutter_nurulsafitri"]
	path = flutter_nurulsafitri
	url = https://github.com/nurulsafitri321/flutter_nurulsafitri
[submodule "flutter_peri-hidayat-msib"]
	path = flutter_peri-hidayat-msib
	url = https://github.com/PeriHidayatDev/flutter_peri-hidayat-msib
[submodule "flutter_rafiar1"]
	path = flutter_rafiar1
	url = https://github.com/BangRF289/flutter_rafiar1
[submodule "flutter_raynaldo"]
	path = flutter_raynaldo
	url = https://github.com/RaynaldoHuang/flutter_raynaldo
[submodule "flutter_Sadewa-Ammar-Tamir-Tsaqib"]
	path = flutter_Sadewa-Ammar-Tamir-Tsaqib
	url = https://github.com/sadewaammar21/flutter_Sadewa-Ammar-Tamir-Tsaqib
[submodule "flutter_triane-fasya-ramadhini"]
	path = flutter_triane-fasya-ramadhini
	url = https://github.com/fasyaane/flutter_triane-fasya-ramadhini
[submodule "Flutter_Yustika-Perwita-Sari"]
	path = Flutter_Yustika-Perwita-Sari
	url = https://github.com/Yustikaprwt/Flutter_Yustika-Perwita-Sari
[submodule "Flutter_Faris-Danuarta"]
	path = Flutter_Faris-Danuarta
	url = https://github.com/danuartafariss/Flutter_Faris-Danuarta
[submodule "nurulsafitri2"]
	path = nurulsafitri2
	url = https://github.com/nurulsafitri321/nurulsafitri2
[submodule "flutter_gilang-rakha-aditya"]
	path = flutter_gilang-rakha-aditya
	url = https://github.com/gilangrakha/flutter_gilang-rakha-aditya
[submodule "flutter_dindaamaliana"]
	path = flutter_dindaamaliana
	url = https://github.com/dindaamalianag/flutter_dindaamaliana
